.logo-wrapper {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  margin: 0 0 0 100px;
  padding: 0;
}

.logo-text {
  position: relative;
  display: inline-block;
  height: 80px;
  font-size: 38px;
  color: var(--my-blue);
  bottom: 10px;
}
.logo-text::after {
  content: 'MK';
  color: var(--my-blue);
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: rotate(180deg);
  -webkit-mask-image: 
    -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,1)), 
    to(rgba(0,0,0,0)));
}

.logo-text-main {
  position: absolute;
  bottom: 23px;
  left: 60px;
  font-size: 38px;
  color: var(--my-blue);
}